controllerManager:
  kubeRbacProxy:
    args:
    - --secure-listen-address=0.0.0.0:8443
    - --upstream=http://127.0.0.1:8080/
    - --logtostderr=true
    - --v=0
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: v0.15.0
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 5m
        memory: 64Mi
  manager:
    args:
    - --health-probe-bind-address=:8081
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: quay.io/spectrocloud-labs/validator-plugin-azure
      tag: v0.0.8  # x-release-please-version
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
    # Optionally specify a volumeMount to mount a volume containing a private key
    # to leverage Azure Service principal with certificate authentication.
    volumeMounts: []
  replicas: 1
  serviceAccount:
    annotations: {}
  # Optionally specify a volume containing a private key to leverage Azure Service
  # principal with certificate authentication.
  volumes: []
  # Optionally specify additional labels to use for the controller-manager Pods.
  podLabels: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  type: ClusterIP
auth:
  # Leave secret undefined for implicit auth (e.g., WorkloadIdentity credentials)
  secret: {}
    # Specify the name of a secret in your cluster that contains Azure credentials.
    # E.g.: https://github.com/spectrocloud-labs/validator/blob/main/chart/validator/templates/plugin-secret-azure.yaml
    # secretName: azure-creds

  # Override the service account used by Azure validator (optional, could be used for WorkloadIdentityCredentials on AKS)
  # WARNING: the chosen service account must include all RBAC privileges found in templates/manager-rbac.yaml
  serviceAccountName: ""
